.cta-green {
	display: inline-block;
    background-color: #69b239;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    padding: 14px 32px;
    border-radius: 5px;
    cursor: pointer;
    -webkit-appearance: none;
    transition: all .3s linear;

    &:hover {
        background-color: #7bce44;
        color: #fff;
        -webkit-appearance: none;
    }

    p, span, strong {
    	color: inherit;
    	font-family: inherit;
    	font-size: inherit;
    }

}
.cta-blue {
	display: inline-block;
    background-color: #00b0cb;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    padding: 14px 32px;
    border-radius: 5px;
    cursor: pointer;
    -webkit-appearance: none;
    transition: all .3s linear;

    &:hover {
        background-color: #01c8e7;
        color: #fff;
        -webkit-appearance: none;
    }

    p, span, strong {
    	color: inherit;
    	font-family: inherit;
    	font-size: inherit;
    }
}
