/*  */
@font-face {
  font-family: 'Proxima';
  font-style: normal;
  font-weight: 200;
 
  src: url('https://cdn2.hubspot.net/hubfs/2749457/Cognizant%20/fonts/proximanova-thin-webfont.woff2') format('woff2'),
         url('https://cdn2.hubspot.net/hubfs/2749457/Cognizant%20/fonts/proximanova-thin-webfont.woff') format('woff'); 
}

/* */
@font-face {
  font-family: 'Proxima';
  font-style: normal;
  font-weight: 400;
 
  src: url('https://cdn2.hubspot.net/hubfs/2749457/Cognizant%20/fonts/proximanova-light-webfont.woff2') format('woff2'),
         url('https://cdn2.hubspot.net/hubfs/2749457/Cognizant%20/fonts/proximanova-light-webfont.woff') format('woff'); 
}

/*  */
@font-face {
  font-family: 'Proxima';
  font-style: normal;
  font-weight: 600;

  src: url('https://cdn2.hubspot.net/hubfs/2749457/Cognizant%20/fonts/proximanova-regular-webfont.woff2') format('woff2'),
         url('https://cdn2.hubspot.net/hubfs/2749457/Cognizant%20/fonts/proximanova-regular-webfont.woff') format('woff'); 
  
}

/*  */
@font-face {
  font-family: 'Proxima';
  font-style: normal;
  font-weight: 800;

  src: url('https://cdn2.hubspot.net/hubfs/2749457/Cognizant%20/fonts/proximanova-bold-webfont.woff2') format('woff2'),
         url('https://cdn2.hubspot.net/hubfs/2749457/Cognizant%20/fonts/proximanova-bold-webfont.woff') format('woff'); 

}
