#footer-main {
	width: 100%;
	background: #000;
    padding: 30px 0 15px;
    color: #fff;
    font-size: 14px;
    .container{
    	@media (max-width: 1199px){
		    max-width: 750px;
		}
		.menus-wrapper{
			.menu{
				ul{
					@media (max-width: 767px){
						   display: block;
					}
					li{	
						line-height: 22px;
						@media (max-width: 767px){
						   float: none;

						}
						a{
							color: #fff;
							font-size: 14px;
							padding: 0px 25px 0px 0px;
							font-weight: normal;
							@media (max-width: 767px){
							    border-bottom: 1px solid #292929;
								padding: 9px 0;
								display: block;
								text-align: center;
								white-space: normal;
							}
							&:hover{
								text-decoration: underline;
								color: #69b239;
							}
						}
					}
				}
				&--footer{
					li{
						&:last-child{
							a{
								border-bottom: none; 
								padding-bottom: 10px;
								@media (max-width: 767px) {
									padding-bottom: 25px;
								}		
							}	
						}
					}
				}
			}
		}
		.bottom-wrapper{
			border-top: 1px solid #565656;
			padding-top: 25px;
			color: #ababab;
			&>div{
				display: flex;
				flex-wrap: wrap;
				&>div{
					flex-basis: 50%;
					@media (max-width: 767px){
						   flex-basis: 100%;
						   order: 3;
						   text-align: center;
					}
					&:first-child{
						@media (max-width: 767px){
						  order: 1;
						}
					}
					&:last-child{
						@media (max-width: 767px){
						  order: 2;
						}
					}
				}
			}
			span{
				font-size: 14px;
				a{
					font-size: 14px;
					color: #ababab;
					text-decoration: underline;
				}
			}
			img{
				margin: 10px auto;
				max-width: 160px;
				height: auto;
				@media (max-width: 767px){
					margin: 15px auto;
				}
			}
			.left-section{
				text-align: left;
				@media (max-width: 767px){
					text-align: center;
				}
			}

			.right-section{
				text-align: right;
				@media (max-width: 767px){
					text-align: center;
				}
			}
		}
	}
}

#footer-landing{
	background: #000000;
	padding: 60px 0px;
	.social-wrapper{
		display: flex;
		justify-content: center;
		ul {
	    display: block;
	    li {
		    list-style-type: none;
		    float: left;
		    i {
			    background: #fff;
			    color: #000;
			    width: 40px;
			    height: 40px;
			    border-radius: 50%;
			    font-size: 25px;
			    text-align: center;
			    margin-right: 10px;
			    padding-top: 15%;
			    transition: background 0.3s ease;
			    &:hover{
			    	background: #69b239;
			    }
			}
			}
		}
	}
	.copyright {
	    font-size: 18px;
	    font-weight: 200;
	    color: #fff;
	    text-align: center;
	    margin-top: 30px;
	    a{
	    	text-decoration: underline;
	    }
	}
}










