header {
		position: fixed;
		z-index:9;
		top: 0;
		left: 0;
		right: 0;
	.header {
		&--gray {
			min-height: 40px;
			width: 100%;
			background-color: #f6f6f6;
			line-height: 14px;
			font-size: 14px;
			.row-fluid-wrapper.row-depth-1.row-number-3 {
				>.row-fluid {
					display: flex;
					justify-content: flex-end;
					>.span6 {
						width: auto;
						margin-left: 0;
						&.language-menu {
							.hs-menu-flow-horizontal{ 
								ul {
									margin-left: 30px;
									li {
										margin-top: 13px;
										margin-right: 7px;
										border-right: 1px solid #ddd;
										max-height: 13px;
										&:last-of-type {
											border: none;
											margin-right: 0;
										}
										a {
											padding: 0;
											font-size: 13px;
											color: #333;
											margin-right: 10px;
											font-weight: 400;
											height: 15px;
											&:hover {
												text-decoration: underline;
												cursor: pointer;
											}
											&.selected {
												color: #66B22C;
											}
										}
										@media (max-width: 568px) {
											float: left;
											display: list-item;
											width: auto;	
										}							
									}
								}
							}

						}
						&.login {
							// padding: 6px 0;
							a {
								margin-top: 7px;
								font-size: 12px;
								line-height: 19px;
								padding: 3px 12px;
								border-radius: 4px;
								font-weight: 400;
								@media (max-width: 767px){
									position: absolute;
									left: 15px;
								}
							}
						}
					}
				}
			}
		}
		&--white {
		    background-image: linear-gradient(0deg,rgba(255,255,255,0.00) 0%,#FFFFFF 100%);
		    background: #fff;
	        box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
		    border: none;
		    min-height: 80px;
		    @media (max-width: 767px) {
		    	min-height: 64px;
		    }
		    .widget-type-logo {
		    	padding: 10px;
		    	a {
		    		margin-left: -15px;
			    	img {
			    		height: auto !important;
			    		max-height: 60px;
			    		max-width: 100% !important;
			    		@media (max-width: 767px){ 
			    			height: 44px !important;
			    			width: auto !important;
			    		}
			    	}
		    	}
		    }
		    .span12.widget-span.widget-type-cell.container {
		    	padding: 0;
		    	@media (max-width: 1200px) {
		    		float: none;
		    	}
		    	>.row-fluid-wrapper {
		    		position: relative 
		    	}
		    	.span9.widget-span.widget-type-menu {
				    .hs-menu-wrapper.hs-menu-flow-horizontal {
				    	>ul {
				    		margin-right: -15px;
				    		margin-top: 20px;
					    	display: flex;
					    	justify-content: flex-end;
					    	align-items: center;
					    	@media (max-width: 1200px) {
					    		flex-wrap: wrap;
					    		justify-content: flex-start;
					    	}
					    	li {
					    		a {
					    			color: #000;
					    			padding: 10px 13px;
					    			font-size: 16px;
					    			font-weight: 400;
					    			margin-left: 20px;
					    			line-height: 20px;
					    			@media (min-width: 768px) and (max-width: 992px) {
					    				margin-left: 5px;
					    			}
					    			&:hover {
				    				    color: #555555;
				    				    background-color: #e7e7e7;
					    				border-radius: 4px;
					    				cursor: pointer;
					    			}
					    		}
					    		&.active {
					    			a {
					    				background-color: #eeeeee;
					    				border-radius: 4px;
					    			}
					    		}
					    	}
					    }
			    	}
			    	@media (max-width: 767px){ 
			    		.cell-wrapper.layout-widget-wrapper {
				    		display: none;	
			    		}
			    	}
	    		}
		    }
	    	.slicknav_menu {
	    		background: rgba(255,255,255,0.95);
	    		padding: 0;
	    		@media (min-width: 768px) {
	    			display: none;
	    		}
	    		a.slicknav_btn {
	    			position: absolute;
	    			padding: 8px 10px;
		    		right: 0;
		    		top: 15px;
		    		margin: 0;
		    		background: #F5F5F5;
    				border: 1px solid #dddddd;
	    			.slicknav_icon-bar {
	    				height: 3px;
	    				width: 22px;
	    				background-color: #888888;
	    				box-shadow: none;
	    				+ .slicknav_icon-bar {
	    					margin-top: 4px;
	    				}
	    			}
	    			&.slicknav_open {
    				    border-color: #d2c098;
						background-color: #e6d7b4;
						.slicknav_icon-bar {
							background-color: #fff;
						}
	    			}
	    		}
	    		ul.slicknav_nav {
	    			margin-left: -20px;
	    			margin-right: -20px;
	    			li {
	    				border-top: 1px solid #dedede;
	    				a {
			    			color: #777777;
			    			padding: 10px 20px;
			    			font-size: 15px;
			    			line-height: 20px;
			    			font-weight: 400;
			    			margin: 0;
			    			&:hover{
			    				color: #555555;
    							background-color: #e7e7e7;
								border-radius: 0;
			    			}
	    				}
		    			&.active {
    				        color: #555555;
    						background-color: #e7e7e7;
		    			}
	    			}
	    		}
	    	}
		}
	}
}
// HEADER LANDING
#header-landing{
	width: 100%;
	height: 92px;
	background-color: #fff;
	position: fixed;
	z-index: 1000;
	display: flex;
	align-items: center;
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.50);
	.container{
		@media (max-width: 767px){
			width: 100%;
		}
	}
	a {
		width: 200px;
		height: 60px;
		display: inline-block;
		margin-left: -15px;
		@media (max-width: 767px){
			margin-left: 0px;
		}
    	img {
    		height: auto !important;
    		max-height: 60px;
    		max-width: 100% !important;
    		@media (max-width: 767px){ 
    			//height: 44px !important;
    			width: auto !important;
    		}
    	}
	}

	
}



