body {
    line-height: 24px;
    color: hubl("$main_font_color");
    font-family: hubl("$font");
    font-size: 18px;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: inherit;
    line-height: 1.1;
    color: inherit;
    margin: 20px 0px;
    span {
        font-family: inherit;
        font-size: inherit;
        font-weight: 500;
        color: hubl("$cta_background");
    }
}

p {
    margin: 20px 0px;
}

label {
    span {
        background-color: transparent;
    }
}

.hs_cos_flex-direction-nav {
    a {
        background-image: url('http://cdn2.hubspot.net/hubfs/685080/IMG-TurboSodium/bg_direction_nav.png');
    }
}

.row-fluid [class*="span"] {
    min-height: 0px;
}

.container {
    max-width: 1170px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    @media (min-width: 768px) and (max-width: 992px) {
        width: 750px;
    }
    @media (min-width: 992px) and (max-width: 1199px){
        width: 970px;
    }
    @media (min-width: 1200px) {
        width: 1170px;
    }
}

*,
*:before,
*:after {
    box-sizing: border-box;
}
.body-container-wrapper {
    min-height: calc(100vh - 338px);
    margin-top: 120px;
    @media (max-width: 767px) {
        margin-top: 104px;
        min-height: calc(100vh - 332px);
    }
}
.footer-container-wrapper .footer ul li a i {
    transition: all 0.3s linear;
}

.footer-container-wrapper .footer ul li a i:hover {
    background-color: #bfbfbf;
}

body,
a,
h1,
h2,
h3,
h4,
h5,
p,
span,
div,
ul,
li,
input,
span,
textarea {
    margin: 0px;
    padding: 0px;
    outline: none;
    font-size: 16px;
    font-weight: normal;
    font-family: hubl("$font");
    span {
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
    }
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 20px 0px;
}

textarea {
    padding: 8px;
}

.error {
    margin: 0;
}

.widget-type-header {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        span {
            font-family: inherit;
            font-size: inherit;
            font-weight: inherit;
            color: hubl("$cta_background");
        }
    }
}


.widget-type-rich_text a:not(.cta_button) {
    color: hubl("$cta_background");
    :hover {
        text-decoration: underline;
    }
}

/* ******************* */
/* *** FORM STYLES *** */
/* ******************* */

.widget-type-form,
.widget-type-blog_subscribe,
.widget-type-blog_comments,
.comment-wrapper 
 {
    
    .hs-form-field {
        margin-bottom: 15px;
    }
/* ******************* */
/* ****** INPUT ****** */
/* ******************* */
    form input {
        background-color: #fff;
        border: none;
        outline: none;
        font-size: 16px;
        font-weight: 300;
        border: solid 1px #d7d7d7;
        border-radius: 5px;
        color: #261900;
        margin-top: 0px;
        height: 48px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;

    }
    form input:active,form input:focus, form textarea:active,  form textarea:focus {
        border-color: #69b239;
        box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.13);
    }
/* ******************** */
/* ****** SELECT ****** */
/* ******************** */    
    form select {
        border: solid 1px #d7d7d7;
        outline: 0;
        font-size: 16px;       
        color: #626262;
        appearance: none;
        height: 48px;
        border-radius: 5px;
        font-weight: 200;
        background-color: #fff;
        background-image: url('https://cdn2.hubspot.net/hubfs/2749457/Cognizant%20/img/icons/right-arrow-select.png');
        background-repeat: no-repeat;
        background-position-x: 98%;
        background-position-y: 50%;
        cursor: pointer;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        font-family: Proxima;
        &::-ms-expand {
            display: none;
        }
        color: #aeaabc;
        font-weight: 200;
}

/* ********************** */
/* ****** TEXTAREA ****** */
/* ********************** */
    form textarea {
        background-color: transparent;
        border: none;
        outline: none;
        font-size: 18px;
        font-weight: 300;
        border: solid 1px #d6d5d5;
        color: initial;
        font-family: hubl("$font"), sans-serif;
        min-height: 140px;
        border: solid 1px #d7d7d7;
        border-radius: 5px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
    
    form ul li.hs-form-checkbox {
        color: hubl("$main_font_color");
    }
    form ul li.hs-form-booleancheckbox {
        color: hubl("$main_font_color");
    }
    label {
        span {
            color: #261900;
        }
        position:relative;
    }

/* ******************* */
/* INPUT TYPE CHECKBOX */
/* ******************* */
    form ul li {
        list-style-type: none;
        color: #fff;
    }

    input[type="checkbox"] {
        position: relative;
        height: 3px;
        width: 15px;
        top: -6px;
        margin-right: 3px;
        visibility: hidden;
        +span {
            cursor: pointer;
            margin-left: 4px;
            &:before {
                content: "";
                position: absolute;
                top: 3px;
                left: 0px;
                background-image: url('https://cdn2.hubspot.net/hubfs/2749457/Cognizant%20/img/icons/input-checkbox.png');
                display: block;
                width: 15px;
                height: 15px;
                background-position: left top;
            }
            &:hover{
                &:before {
                    background-position: center top;
                      box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.13);
                }
            }
        }
        &:checked {
            +span {
                &:before {
                    background-position: right top;
                }
            }
        }
    }

/* **************** */
/* INPUT TYPE RADIO */
/* **************** */

    input[type="radio"] {
        position: relative;
        height: 3px;
        width: 15px;
        top: -6px;
        margin-right: 8px;
        visibility: hidden;
        +span {
            cursor: pointer;
            margin-left: 4px;
            &:before {
                content: "";
                position: absolute;
                top: 3px;
                left: 0px;
                background-image: url('https://cdn2.hubspot.net/hubfs/2749457/Cognizant%20/img/icons/input-radio.png');
                display: block;
                width: 15px;
                height: 15px;
                border-radius:50%;
                background-position: left top;
            }
            &:hover{
                &:before {
                    background-position: center top;
                      box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.13);
                }
            }
        }
        &:checked {
            +span {
                &:before {
                    background-position: right top;
                }
            }
        }
    }
/* ***************** */
/* ** HEADER FORM ** */
/* ***************** */ 
    h3 {
        font-size: 25px;
        font-weight: 600;
        text-align: left;
        margin: 65px 0 25px 0;
        color: hubl("$cta_background");
    }
    form .hs-form-required {
        display: none;
    }
    .home-contact-section .widget-type-form label {
        color: #fff;
    }
/* ***************** */
/* INPUT TYPE SUBMIT */
/* ***************** */  

    form input[type="submit"]{
       @extend .cta-green;
       border:none;
       height: auto;
    }

/* ************* */
/* ERROR MESSAGE */
/* ************* */    
    form ul.hs-error-msgs {
        li{
            label{
                color: #eb5c5c;
                font-weight: 400;
                font-size: 14px;
                a{
                    color: #eb5c5c;
                    font-weight: 400;
                    font-size: 14px;
                }
            }
        } 
    }
    form {
        .error-border{
            input, select, textarea{
                border-color: #eb5c5c;
            }
        }
    }
}
/* **************** */
/* END FORMS STYLES  */
/* **************** */


.feedreader_box {
    margin-top: -3px;
}

.footer-info .widget-type-form {
    form {
        margin-top: 30px;
        .hs-error-msgs {
            a,
            label {
                color: #fff;
                font-size: 16px;
            }
        }
    }
    .form-title {
        display: none;
    }
    form input {
        margin-top: 19px;
        color: #fff;
        border-radius: 0;
    }
    form div:first-of-type div:first-of-type div:first-of-type input:first-of-type {
        margin-top: 37px;
    }
    ::-webkit-input-placeholder {
        color: #fff;
        font-family: hubl("$font"), sans-serif;
    }
    ::-moz-placeholder {
        /* Firefox 18- */
        color: #fff;
        font-family: hubl("$font"), sans-serif;
    }
    ::-moz-placeholder {
        /* Firefox 19+ */
        color: #fff;
        font-family: hubl("$font"), sans-serif;
    }
    ::-ms-input-placeholder {
        color: #fff;
        font-family: hubl("$font"), sans-serif;
    }
    form {
        margin-top: 30px;
    }
}

.hs-form-checkbox-display span {
    padding-left: 5px;
    color: white;
}


a,
.button,
.yellow-button,
.hs-button {
    -webkit-appearance: none;
}

a,
a:visited,
a:focus,
a:hover,
a:active,
input:focus,
input:active,
input:hover,
input:visited,
input,
button:focus,
button:active,
button:hover,
button:visited,
button {
    outline: none;
    text-decoration: none;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.gray-hover:hover a {
    color: #75787b !important;
}

.padding-zero {
    padding: 0px;
}

.button-green {
    @extend .cta-green;
}

.button-blue {
    @extend .cta-blue;
}

h1 {
    font-size: 60px;
    color: #261900;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
}

h2 {
    font-size: 24px;
    color: #261900;
    text-decoration: none;
    //text-transform: uppercase;
    text-align: center;
    font-weight: 600;
}

h3 {
    font-size: 18px;
    color: #261900;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
}

h4 {
    font-size: 16px;
    color: #261900;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
}

.hs_cos_wrapper_type_rich_text {
    h1 {
        font-size: 60px;
        color: #261900;
        text-decoration: none;
        text-transform: uppercase;
        text-align: left;
        //font-weight: 700;
    }
    h2 {
        font-size: 25px;
        color: #261900;
        text-decoration: none;
       // text-transform: uppercase;
        text-align: left;
      //  font-weight: 600;
    }
    h3 {
        font-size: 18px;
        color: #261900;
        text-decoration: none;
        text-transform: uppercase;
        text-align: left;
       // font-weight: normal;
    }
    h4 {
        font-size: 16px;
        color: #261900;
        text-decoration: none;
        text-transform: uppercase;
        text-align: left;
        //font-weight: normal;
        }
    p {
        margin-top: 0px;
        &:last-child{
                margin-bottom: 0px;
            }
    }
    a:not(.cta_button) {
        color: #69b239;
        &:hover {
            color: #7bce44;
            text-decoration: underline;
        }
    }
    a.cta_button {
        text-decoration: none;
        p,
        span,
        strong {
            color: inherit;
        }
        &:hover {
            text-decoration: none;
        }
    }
    blockquote {
        margin-left: 0px;
        margin-right: 0px;
        position: relative;
        text-align: center;
        margin-bottom: 20px;
        &:before {
            content: "\f10d";
            font-family: "FontAwesome";
            color: hubl("$cta_background");
            display: inline-block;
            padding-right: 10px;
            font-size: 25px;
            position: relative;
            top: 0px;
            line-height: 0;
        }
        &:after {
            content: "\f10e";
            font-family: "FontAwesome";
            color: hubl("$cta_background");
            display: inline-block;
            padding-left: 10px;
            font-size: 25px;
            position: relative;
            bottom: -10px;
            line-height: 0;
        }
        p {
            display: inline;

        }
    }
    ul {
        list-style: none;
        padding-left: 30px;
        //margin-bottom: 20px;
        padding: 15px 0px 15px 30px;
        li {
            position: relative;
            margin-bottom: 19px;
            padding-left: 5px;
            line-height: 24px;
            color: #261900;
            &:before {
                content: "";
                display: block;
                position: absolute;
                width: 6px;
                height: 6px;
                background-color: #69b239;
                border-radius: 50%;
                left: -30px;
                // top: 50%;
                // transform: translateY(-50%);
                top:10px;
            }
        }
    }
    ul.check {
        list-style: none;
        padding-left: 30px;
        margin-bottom: 20px;
        li {
            position: relative;
            margin-bottom: 19px;
            padding-left: 5px;
            line-height: 24px;
            color: #261900;
            &:before {
                content: "";
                display: block;
                position: absolute;
                background-image: url('https://cdn2.hubspot.net/hubfs/2749457/Cognizant%20/img/icons/check-bulet.png');
                width: 15px;
                height: 15px;
                background-position: center center;
                background-color: transparent;
                border-radius: none;
                left: -30px;
                // top: 50%;
                // transform: translateY(-50%);
                top:5px;
            }
        }
    }

    ol {
        margin-bottom: 20px;
        counter-reset: li;
        list-style: none;
        padding-left: 30px;
        li {
            margin-bottom: 19px;
            position: relative;
            color: #a1a1a1;
            line-height: 24px;
            &:before {
                color: #69b239;
                counter-increment: li;
                content: counter(li)".";
                position: absolute;
                width: 16px;
                background-position: center;
                display: block;
                font-size: 18px;
                font-weight: 600;
                vertical-align: middle;
                height: 32px;
                left: -30px;
                // top: 50%;
                // transform: translateY(-50%);
                top:0px;
            }
        }
    }
}

.secondary-header {
    text-align: center;
}

.mouse_scroll {
    display: block;
    margin: 0 auto;
    width: 20px;
    height: 77px;
    /*margin-top: 125px;*/
    cursor: pointer;
    position: absolute;
    left: 50%;
    /* px swiruje na submarket/market pages, bo jest tam absolutna maska */
    top: auto;
    bottom: 50px;
    margin-left: -10px;
}

.individual-project-page .mouse_scroll {
    top: auto;
}

.about-us .mouse_scroll {
    /* fix dla strony about-us z mniejszym headerem */
    top: 400px
}

.m_scroll_arrows {
    display: block;
    width: 5px;
    height: 5px;
    -ms-transform: rotate(45deg);
    /* IE 9 */
    -webkit-transform: rotate(45deg);
    /* Chrome, Safari, Opera */
    transform: rotate(45deg);
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    margin: 0 0 5px 4px;
    width: 13px;
    height: 13px;
}

.unu {
    margin-top: 1px;
}

.unu,
.doi,
.trei {
    animation: mouse-scroll 1.5s infinite;
    -webkit-animation: mouse-scroll 1.5s infinite;
    -moz-animation: mouse-scroll 1.5s infinite;
}

.unu {
    animation-delay: .1s;
    -webkit-animation-delay: .1s;
    -moz-animation-delay: .1s;
    -webkit-animation-direction: alternate;
}

.doi {
    animation-delay: .2s;
    -webkit-animation-delay: .2s;
    -moz-animation-delay: .2s;
    -webkit-animation-direction: alternate;
    margin-top: -6px;
}

.trei {
    animation-delay: .3s;
    -webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    -webkit-animation-direction: alternate;
    margin-top: -6px;
}

.mouse {
    height: 34px!important;
    width: 20px;
    border-radius: 14px;
    transform: none;
    border: 2px solid white;
    top: 170px;
}

.wheel {
    height: 5px;
    width: 2px;
    display: block;
    margin: 5px auto;
    background: white;
    position: relative;
    height: 4px;
    width: 4px;
    border: 2px solid #fff;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    -webkit-animation: mouse-wheel 1.5s linear infinite;
    -moz-animation: mouse-wheel 1.5s linear infinite;
    animation: mouse-wheel 1.5s linear infinite;
}

@-webkit-keyframes mouse-wheel {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateY(6px);
        -ms-transform: translateY(6px);
        transform: translateY(6px);
    }
}

@-moz-keyframes mouse-wheel {
    0% {
        top: 1px;
    }
    25% {
        top: 2px;
    }
    50% {
        top: 3px;
    }
    75% {
        top: 2px;
    }
    100% {
        top: 1px;
    }
}

@-webkit-keyframes mouse-scroll {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes mouse-scroll {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes mouse-scroll {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}

@keyframes mouse-scroll {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
    }
}


.widget-type-text {
    a {
        color: #fff;
        transition: all 0.3s linear;
        &:hover {
            color: hubl("$cta_background");;
        }
    }
}


.slick-arrow {
    position: absolute;
    top: 50%;
    width: auto;
    height: auto;
    transform: translateY(-50%);
    z-index: 1;
    &.slick-prev {
        left: 48px;
        &:before {
            content: '';
            background-image: url('//cdn2.hubspot.net/hubfs/685080/HubSpot_Template_Marketplace/Turbo_Sodium/assets/arrow-left.png');
            background-repeat: no-repeat;
            background-size: cover;
            width: 30px;
            height: 58px;
            display: block;
        }
    }
    &.slick-next {
        right: 48px;
        &:before {
            content: '';
            background-image: url('//cdn2.hubspot.net/hubfs/685080/HubSpot_Template_Marketplace/Turbo_Sodium/assets/arrow-left.png');
            background-repeat: no-repeat;
            background-size: cover;
            transform: scaleX(-1);
            width: 30px;
            height: 58px;
            display: block;
        }
    }
}

.green-button {
    @extend .cta-green;
}
.blue-button {
    @extend .cta-blue;
}
.mask {
    position: absolute;
    background: rgba(black, .3);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.svg-converted path,
.svg-converted polygon {
    fill: hubl("$cta_background");
}

.svg-converted circle,
.svg-converted rect {
    stroke: hubl("$cta_background");
}

#cookie-info {
    min-height: 75px;
    background-color: #292935;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 99;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 75px;
        img {
            width: 36px;
            max-width: 36px;
            height: 36px;
            margin-right: 15px;
            flex: 1 0 auto;
        }
        p {
            color: #fff;
            font-size: 14px;
            a {
                color: #fff;
                font-size: 14px;
                text-deocartion: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        a.cta-green.cookie-btn {
            margin-left: 15px;
            font-size: 14px;
            padding: 8px 25px;
            white-space: nowrap;
            flex: 1 0 auto;
            max-width: 100px;
        }
        @media (max-width: 450px) {
            flex-direction: column;
            img {
                margin-top: 15px;
                margin-right: 0;
            }
            a.cta-green.cookie-btn {
                margin: 15px 0;
            }
        }
    }
}
