.error-page {
	section {
		&.error-page-wrapper {
			height: calc(100vh - 338px);
			min-height: 430px;
			position: relative;
			background-color: #61686a;
			@media (max-width: 767px) {
				height: calc(100vh - 134px);
			}
			.text-module {
				background-image: url('https://cdn2.hubspot.net/hubfs/2749457/Cognizant%20/img/404/404.png');
				background-repeat: no-repeat;
				background-size: contain;
				margin: 0 auto;
				width: 400px;
				min-height: 400px;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				h1 {
					font-size: 20px;
					text-transform: none;
					margin-top: 35px;
					font-weight: bold;
				}
				.widget-type-rich_text {
					margin-top: 155px;
					margin-left: -10px;
					text-align: center;
					p {
						font-weight: bold;						
					}
					a.cta_button.cta-green {
						padding: 10px 25px;
						font-size: 16px;
						border-radius: 4px;
						margin-top: 15px;
					}
				}
				@media (max-width: 450px) {
					width: 300px;
					min-height: 300px;
					height: auto;
					h1 {
						margin-top: 20px;
					}
					.widget-type-rich_text {
						padding: 0 15px;
						margin-top: 100px;
						a.cta_button.cta-green {
							margin-top: 0;
						}
					}
				}
			}
		}
	}
}