.subscription-preferences {
	.hero-banner-blog {
		.content {
			h2 {
				margin: 0;
				font-size: 40px;
			}
		}
	}
	.main-content {
		margin-top: 65px;
		margin-bottom: 60px;
		.row-fluid-wrapper.row-depth-1.row-number-3 {
			>.row-fluid {
				display: flex;
				@media (max-width: 767px) {
					flex-direction: column;
				}
			}			
		}
	}
	.preferences-wrapper {
		h1 {
			text-align: left;
			font-size: 30px;
			text-transform: none;
			margin-bottom: 25px;
		}
		h2 {
			font-size: 18px;
			line-height: 24px;
			text-align: left;
			text-transform: none;
			margin-bottom: 25px;
			font-weight: 600;
		}
		br {
			display: none;
		}
		p {
			font-size: 16px;
			line-height: 24px;
			margin-left: 0;
		}
		.email-prefs {
			.item {
				margin: 40px 0;
				.item-inner {
					padding: 0;
					border: none;
					background-color: #fff;
					border-radius: 0;
					.checkbox-row {
						span {
							&.fakelabel {
								span {
									font-weight: 600;	
								}
							}
						}
					}
					p {
						margin-left: 34px;
						font-weight: 600;
					}
					&.hovered {
						box-shadow: none;
					}
				}
			}
		    input[type="checkbox"] {
		        position: relative;
		        height: 3px;
		        width: 15px;
		        top: -6px;
		        margin-right: 3px;
		        visibility: hidden;
		        +span {
		            cursor: pointer;
		            margin-left: 16px;
		            &:before {
		                content: "";
		                position: absolute;
		                top: 3px;
		                left: 0px;
		                background-image: url('https://cdn2.hubspot.net/hubfs/2749457/Cognizant%20/img/icons/input-checkbox.png');
		                display: block;
		                width: 15px;
		                height: 15px;
		                background-position: left top;
		            }
		            &:hover{
		                &:before {
		                    background-position: center top;
		                      box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.13);
		                }
		            }
		        }
		        &:checked {
		            +span {
		                &:before {
		                    background-position: right top;
		                }
		            }
		        }
		    }
		    .subscribe-options {
		    	position: relative;
		    	input[type="checkbox"] {
		    		 +span {
	    		 	    font-size: 16px;
					    line-height: 24px;
		            	margin-left: -3px;
		            	font-weight: 600;
		    		 	&:before {
		    		 		top: 40px;
		    		 	}
		    		}
		    	}
		    	p:nth-of-type(2) {
		    		margin-top: 12px;
		    	}
		    }
		    .hs-button.primary {
		    	@extend .cta-green;
		    	margin-top: 40px;
		    	border: none;
		    	padding: 15px 25px;
		    }
		}
	}
	.form-wrapper {
		.widget-type-form {
			background-color: #f9f9f9;
			max-width: 440px;
			padding: 35px;
			border-radius: 5px;
			h3 {
				margin: 0 0 30px;
				font-size: 20px;
				color: #261900;
				text-align: center;
				font-weight: bold;
			}
			input[type="submit"] {
				width: 100%;
			}
		}
		@media (max-width: 767px) {
			padding: 30px 0;
			.widget-type-form {
				margin: 0 auto;
			}
		}
	}
}