.landing-page-long{
	.hero-banner{
		min-height: 660px;
		.content{
			margin-bottom: 152px;
			h1{
				font-size: 60px;
				margin-bottom: 20px;
				padding: 30px 20px 0px 20px;
				@media (max-width: 420px){
			        padding: 30px 10px 0px 10px;
			    }
			}
			p{
				margin-top: 20px;
				font-size: 18px;
				font-weight: 400;
				text-align: center;
				padding: 0px 20px 30px 20px;

			}
		}
	}
	// ------------------
	.big-feed-box-section{
		
		.flex-box > span{
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: flex-start;
			position: relative;
			top: -152px;
			margin-bottom: -152px;
			@media (max-width: 767px){
		        flex-direction: column;
		        align-items: center;
		    }
		}
	}
	 // --------------
	.feed-box-section{
		padding: 80px 0px;
		h2{
			font-size: 45px;
			text-transform: none;
			margin-bottom: 40px;
		}
		p{
			text-align: center;
			color: #a1a1a1;
		}		
		.flex-box > span{
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: flex-start;
		}
	}
	// -------------- PRICING SECTION ------------
	.pricing-section{
		.flex-box {
			position: relative;
			z-index: 1;
			width: 100%;
			min-height: 700px;
			padding: 100px 0px;
			background-image: url('https://cdn2.hubspot.net/hubfs/2749457/Cognizant%20/img/Landing%20Pages/pricing-bg.png');
			background-position: center center;
			background-size: cover;
			&:after{
				content: "";
				position: absolute;
				display: block;
				top: 0;
				left:0;
				width: 100%;
				height: 100%;
				background-color: rgba(0,0,0,0.5);
				z-index: 2;
			}
			>span{
				display: flex;
				justify-content: center;
				align-items: center;
				position: relative;
				z-index: 3;
				@media (max-width: 1040px){
					flex-direction: column;
				}
			}
		}
	}
	// -------------- FORM SECTION ------------
	.form-section{
		padding: 105px 0px;
		h2{
			margin-top: 0px;
			font-size: 45px;
			text-transform: none;
			margin-bottom: 40px;
		}
		.form-wrapper{
			margin-left: 8px;
			form{
				max-width: 770px;
				margin: 0 auto;
				@media (max-width: 820px){
					max-width: 85%;
				}
				fieldset{
					max-width: 100%;
					.hs-input{
						width: 100%;
					}
				}

				input[type="submit"]{
					width: calc(100% - 8px);
				}
			}
		}

		@media (max-width: 400px), (max-device-width: 480px) and (min-device-width: 320px){
		
			form.hs-form .form-columns-2 .hs-form-field .hs-input, 
			form.hs-form .form-columns-3 .hs-form-field .hs-input {
			    width: 100%;
			}
		}
	}
	// TESTIMONIALS SLIDER
		.slick-slider {
		    margin-bottom: 0px;
		}
		.mfp-bg{
			opacity: .9;
		}
		.mfp-auto-cursor .mfp-content {
		    max-width: 860px;
	    height: 420px;
		}

	// slick style
		.slick-arrow.slick-prev,.slick-arrow.slick-next {
		    width: 32px;
		    height: 60px;

		}
		.slick-arrow.slick-prev{
			&:before{
				background-image: url('https://cdn2.hubspot.net/hubfs/2749457/Cognizant%20/img/icons/white-arrow-slider_03.png');
			}
			display: none;
		}
		.slick-arrow.slick-next{
			&:before{
				background-image: url('https://cdn2.hubspot.net/hubfs/2749457/Cognizant%20/img/icons/white-arrow-slider_03.png');
			}
			display: none;
		}
		.slick-dotted.slick-slider{
			margin-bottom: 0;
		}
		.slick-dots{
			bottom: 10px;
			li{
				margin:0;
				button{
					&:before{
						content: "";
						display: block;
						width: 8px;
						height: 8px;
						background: #fff; 
						border-radius: 50%;
						margin: 5px;
					}
				}
			}
		}

	// CUSTOMERS SECTION
	.customers-section{
		padding: 84px 0px;
		.slick-dots{
            display: block;
            left:0;
            bottom: -50px;
            li{
				margin:0;
				button{
					&:before{
						content: "";
						display: block;
						width: 8px;
						height: 8px;
						background: #69b239; 
						border-radius: 50%;
						margin: 5px;
					}
				}
			}

        }
        
        .slick-list{
            min-width: 100% !important;
            display:flex;
            justify-content:center;
            margin: 0!important;
            
        }
        .slick-arrow{
            display:none!important;
        }
        button.slick-prev.slick-arrow + div.slick-list{
            display:block;
        }

	}

}
