.landing-page{
	.body-container-wrapper{
		margin-top: 92px;
	}
	.landing-content{
		padding: 60px 0px;
		.right-text{
			.widget-type-rich_text{
				padding-left: 60px;
				@media (max-width: 767px){ 
					padding-left: 0;
	    		}
	    	}
		}
		.widget-type-rich_text{
			h2{
				text-transform: none;
				margin-top: 0px;
				font-size: 35px;
			}
			p{
				color: #a1a1a1;
			}
			ul{
				li{
					font-weight: 400;
					span{
						font-weight: 200;
						color: #a1a1a1;
					}
				}
			}
		}
		.grey-box{
			background-color: #f9f9f9;
			border-radius: 10px;
			padding: 35px;
			box-shadow: -1px -1px 5px 0px rgba(0,0,0,0.15);
			@media (max-width: 767px){ 
				margin-bottom: 40px;
    		}
    		@media (max-width: 480px){ 
    			padding: 35px 15px;
    		}
			h3{
				margin-top: 0px;
				text-align: center;
				text-transform: none;
				color: #261900;
				font-size: 20px;
			}
			input{
				background-color: #fff;
				border-radius: 5px;
			}
			input[type="submit"]{
				background-color: #69b239;
				width: 100%;
				&:hover{
					background-color: #7bce44;
				}
			}
		}
		&--grey{
			background-color: #f9f9f9;
			.widget-type-rich_text{
				padding-left: 0px;
			}
			.widget-type-linked_image{
				text-align: center;
				@media (max-width: 767px){ 
					margin-top: 30px;
	    		}
			}
		}
		.video-wrapper{
			  position:relative;
			  @media (max-width: 767px){ 
					margin-top: 40px;
	    		}
			  .play-btn{
			    width:92px;
			    height:92px;
			    background-color: #fff;
			    position:absolute;
			    top:50%;
			    left:50%;
			    border-radius: 50%;
			    transform:translate(-50%,-50%);
			    transition:opacity 0.3s ease-in-out;
			    z-index:1;
			    cursor: pointer;
			    &:before{
			    	position:absolute;
				    top:50%;
				    left:50%;
				    transform:translate(-50%,-50%);
			    	display: block;
			    	content: "";
			    	width: 0;
					height: 0;
					border-style: solid;
					border-width: 6.5px 0 6.5px 11px;
					border-color: transparent transparent transparent #000000;
			    }
			    &:hover{
			    	background-color: #69b239;
			    	&:before{
			    		border-color: transparent transparent transparent #fff;
			    	}

			    }
			    &.hide-play-btn{
			      opacity:0;
			      z-index:-1;
			      transition:opacity 0.3s ease-in-out;
			    }
			  }
			  video{
			  	width: 100%!important;
			  }
			}
	}
}
