.landing-offer{
	background-image: url('https://cdn2.hubspot.net/hubfs/2749457/Cognizant%20/img/Landing%20Pages/full-bg-landing-offer.png');
	background-position: center center;
	background-size: cover;
	width: 100%;
	height: 100%;
	padding-bottom: 0px;
	position: relative;
	&:after{
		content: '';
		background-color: rgba(14,14,14,0.85);
		position: absolute;
		top: 0;
		left:0;
		width: 100%;
		height: 100%;
	}
	.body-container-wrapper{
		margin-top: 40px;
	}
	.center-logo{
		text-align: center;
		position: relative;
		z-index: 4;
		img{
			margin-top: 60px;
			width: 270px!important;
		}
	}
	.landing-content-offer{
		position: relative;
		z-index: 3;
		color: #fff;
		h1{
			color: #fff;
			text-align: center;
			font-size: 38px;
			margin-top: 0px;
			margin-bottom: 30px;
			text-transform: none;
		}
		p{
			text-align: center;
		}
		.transparent-form {
			max-width: 600px;
			margin: 0 auto;
			h3{
					margin:0px 0px 40px 0px;
				}
			form{
				width: 100%;
				color: #fff;

				fieldset{
					max-width: 100%;
					>div{
						.input{
							margin-right: 0;
							input,select,textarea{
								border-radius: 5px;
								@media (max-width: 480px){
							        background-position-x: 95%;
							    }
							}
							select, input[type="email"]{
								width: 100%;
							}
						}
					}
					label{
						span{
							color: #fff;
						}
					}
					.hs-richtext{
						padding-bottom: 10px;
					}
					.hs_number{
						width: 125px;
					}
					&.form-columns-1 {
						input[type="text"],input[type="email"], textarea {
							width: 100%;
						}
						input[type="radio"] {
							+span {
								margin-left: 15px;
							}
						}
					}
					&.form-columns-2{
						>div{
							&:first-child{
								.input{
									margin-right: 8px;
									@media (max-width: 400px), (max-device-width: 480px) and (min-device-width: 320px){
										margin-right: 0;
									}
								}
							}
						}
					}
					&.form-columns-3{
						width: 100%;
						.hs_day{
							width: 113px;
							margin-right: 12px; 
							@media (max-width: 480px){
						        width: 100%;
						        margin-right: 0px;
						    }
						    select{
						    	background-position-x: 90%;
						    	@media (max-width: 480px){
							        background-position-x: 95%;
							    }
						    }
						}
						.hs_year{
							width: 108px;
							margin-right: 12px;
							@media (max-width: 480px){
						        width: 100%;
						        margin-right: 0px;
						    }
						    select{
						    	background-position-x: 90%;
						    	@media (max-width: 480px){
							        background-position-x: 95%;
							    }
						    } 
						}
						.hs_month,.hs_month_select{
							width: 170px;
							margin-right: 12px;
							@media (max-width: 480px){
						        width: 100%;
						        margin-right: 0px;
						    }
						    select{
						    	background-position-x: 90%;
						    	@media (max-width: 480px){
							        background-position-x: 95%;
							    }
						    } 
						}
					}		
				}
				input[type="submit"]{
					width: 100%;
					border-radius: 5px;
				}

			}
		}
	}
	.widget-type-form input[type="checkbox"] + span,
	.widget-type-blog_subscribe input[type="checkbox"] + span, 
	.widget-type-blog_comments input[type="checkbox"] + span, 
	.comment-wrapper input[type="checkbox"] + span {
	    cursor: pointer;
	    margin-left: 18px;
	    color: #fff;
	}
	#footer-landing{
		position: relative;
		z-index: 4;
		background-color: transparent;
	}
	@media (max-width: 400px), (max-device-width: 480px) and (min-device-width: 320px){
		form.hs-form .form-columns-2 .hs-form-field .hs-input, form.hs-form .form-columns-3 .hs-form-field .hs-input {
		    width: 100%;
		    margin-right: 0;
		}
	}
}

