.thank-you-page{
	header{
		.header{
			&--gray{
				display: none;
			}
			&--white{
				min-height: 92px;
				.widget-type-logo {
			    	padding-top: 20px;
			    }
			    .widget-type-menu{
			    	margin-top: 10px;
			    }
			}
		}
	}
	.body-container-wrapper{
		margin-top: 92px;
	}
	.thank-you-content{
		padding: 70px 0px;
		h1,h2{
			text-transform: none;
			font-size: 45px;
			margin-bottom: 30px;
			margin-top: 0px;
		}

		p{
			color: #a1a1a1;
		}
		.widget-type-cta{
			margin-top: 40px;
		}
		.widget-type-linked_image{
			text-align: center;
			@media (max-width: 767px){ 
				margin-top: 60px;
    		}
		}
	&--grey{
		background-color: #f9f9f9;
		text-align: center;
	}	
	}
}
