.blog-main {
    .hidden-on-blog {
        display: none;
    }
    .no-post {
        margin-top: 40px;
        font-size: 30px;
    }
    /* ************ */
    /* BLOG LISTING */
    /* ************ */
    .blog-listing-wrapper {
        .post-item {
            padding: 49px 0px 44px 0px;
            border-bottom: 1px solid #e0e0e0;
            &:last-child {
                border-bottom: none;
            }
            .thumb {
                width: 100%;
                min-height: 350px;
                background-size: cover;
                position: relative;
                z-index: 1;
                .mask {
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 2;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0, 0, 0, 0.55);
                }
                .conntent-thumb {
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: 3;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    .topic-list {
                        margin: 17px 0px 0px 17px;
                        a {
                            display: inline-block;
                            color: #fff;
                            padding: 11px 16px;
                            border: 1px solid #fff;
                            border-radius: 10px;
                            margin: 6px;
                        }
                    }
                    .post-detalis {
                        margin: 0px 24px;
                        padding: 18px 0px 24px 0px;
                        border-top: 1px solid #fff;
                        color: #fff;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        @media (max-width: 580px) {
                            flex-direction: column;
                        }
                        .post-author {
                            a {
                                color: #69b239;
                                font-weight: 400;
                            }
                            span {
                                text-transform: uppercase;
                            }
                        }
                        .social-share {
                            a {
                                color: #fff;
                                padding-left: 10px;
                                @media (max-width: 580px) {
                                    display: inline-block;
                                    margin-top: 15px;
                                    padding: 0 10px;
                                }
                                &:hover {
                                    color: #69b239;
                                }
                            }
                        }
                    }
                }
            }
        }
        .content {
            h3 {
                text-align: left;
                margin: 27px 0px;
                text-transform: none;
                a {
                    color: #261900;
                    font-size: 25px;
                    font-weight: 600;
                }
            }
            p {
                margin-top: 0px;
                margin-bottom: 30px;
            }
        }
    }
    /* *********** */
    /* * SIDEBAR * */
    /* *********** */
    .widget-type-form,
    .widget-type-blog_subscribe {
        h3 {
            color: #261900;
        }
        input,
        select,
        textarea {
            border-radius: 5px;
        }
    }
    .sidebar {
        padding: 49px 0px 44px 0px;
        h3 {
            margin-top: 0px;
            text-align: left;
            text-transform: none;
            font-size: 25px;
        }
        .sidebar-item {
            margin-bottom: 49px;
        }
        .widget-type-post_filter {
            ul {
                list-style: none;
                li {
                    border-bottom: 1px solid #ebebeb;
                    padding: 15px 0px;
                    a {
                        position: relative;
                        display: block;
                        width: 100%;
                        color: #261900;
                        &:hover {
                            color: #69b239;
                        }
                        span {
                            position: absolute;
                            right: 0;
                        }
                    }
                }
            }
        }
        .search-blog {
            input {
                background-color: transparent;
                border: none;
                outline: none;
                font-size: 16px;
                font-weight: 300;
                border: solid 1px #d7d7d7;
                border-radius: 5px;
                color: #261900;
                margin-top: 0px;
                height: 48px;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                //background-image: url('https://cdn2.hubspot.net/hubfs/2749457/Cognizant%20/img/icons/search-icon.png');
                background-repeat: no-repeat;
                background-position-x: 95%;
                background-position-y: 50%;
                &:active,
                &:focus {
                    border-color: #69b239;
                    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.13);
                }
                &:after {
                    content: "";
                    display: block;
                    background-color: red;
                    width: 48px;
                    height: 48px;
                }
            }
            .input-wrapper {
                position: relative;
                .serach-icon {
                    position: absolute;
                    top: 0;
                    right: 0;
                    content: "";
                    display: block;
                    background-image: url('https://cdn2.hubspot.net/hubfs/2749457/Cognizant%20/img/icons/search-icon.png');
                    background-repeat: no-repeat;
                    background-position: center center;
                    width: 48px;
                    height: 48px;
                    cursor: pointer;
                }
            }
        }
        .popular-posts {
            .single-post {
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                margin-bottom: 17px;
                > a {
                    min-width: 85px;
                }
                .thumb {
                    min-width: 85px;
                    height: 85px;
                    background-size: cover;
                }
                .post-title {
                    margin-left: 15px;
                    h4 {
                        text-align: left;
                        font-size: 16px;
                        margin-top: 0;
                        text-transform: none;
                    }
                    span {
                        display: block;
                        text-align: right;
                        color: #a1a1a1;
                        font-size: 16px;
                    }
                }
            }
        }
        .fallow-us {
            h3 {
                margin-bottom: 10px;
            }
            ul {
                li {
                    display: block;
                    float: left;
                    a {
                        display: block;
                        background-color: #69b239;
                        width: 46px;
                        height: 46px;
                        margin-right: 17px;
                        margin-top: 10px;
                        border-radius: 50%;
                        text-align: center;
                        i {
                            color: #fff;
                            font-size: 28px;
                            line-height: 46px;
                        }
                        &:hover {
                            background-color: #7bce44;
                        }
                    }
                }
            }
        }
    }
    /* *********** */
    /* SINGLE POST */
    /* *********** */
    .search-results {
        .post-body {
            padding-top: 30px;
            h2 {
                text-align: left;
                margin-bottom: 10px;
                span {
                    color: #261900;
                    text-transform: none;
                    font-size: 29px;
                }
            }
            h1 {
                text-align: left;
                margin-bottom: 10px;
                font-size: 29px;
                line-height: 35px;
                span {
                    color: #261900;
                    text-transform: none;
                    font-size: 29px;
                }
            }
            .video-wrapper {
                position: relative;
                .play-btn {
                    width: 92px;
                    height: 92px;
                    background-color: #fff;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    border-radius: 50%;
                    transform: translate(-50%, -50%);
                    transition: opacity 0.3s ease-in-out;
                    z-index: 1;
                    cursor: pointer;
                    &:before {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        display: block;
                        content: "";
                        width: 0;
                        height: 0;
                        border-style: solid;
                        border-width: 6.5px 0 6.5px 11px;
                        border-color: transparent transparent transparent #000000;
                    }
                    &:hover {
                        background-color: #69b239;
                        &:before {
                            border-color: transparent transparent transparent #fff;
                        }
                    }
                    &.hide-play-btn {
                        opacity: 0;
                        z-index: -1;
                        transition: opacity 0.3s ease-in-out;
                    }
                }
                video {
                    width: 100%!important;
                }
            }
            .post-author {
                margin-bottom: 20px;
                a {
                    color: #69b239;
                    font-weight: 400;
                }
                span {
                    text-transform: uppercase;
                }
            }
            .thumb {
                width: 100%;
                min-height: 350px;
                background-size: cover;
                background-size: center center;
                position: relative;
                .mask {
                    background-color: rgba(0, 0, 0, 0.55);
                }
            }
            .content {
                padding: 30px 0px
            }
            .info-wrapper {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 25px 0px;
                @media (max-width: 520px) {
                    flex-direction: column;
                    align-items: flex-start;
                    margin-top: 0px;
                }
                .topic-list {
                    @media (max-width: 520px) {
                        margin-bottom: 15px;
                    }
                    ul {
                        list-style: none;
                        li {
                            float: left;
                            background: red;
                            margin-right: 10px;
                            margin-bottom: 5px;
                            padding: 10px 12px;
                            background-color: #69b239;
                            border-radius: 5px;
                            color: #fff;
                            font-size: 14px;
                            line-height: 16px;
                            &:first-child {
                                background-color: transparent;
                                color: #261900;
                                padding-left: 0px;
                                &:hover {
                                    background-color: transparent;
                                }
                            }
                            @media (max-width: 520px) {
                                margin: 5px;
                                float: none;
                            }
                            a {
                                color: #fff;
                                font-size: 14px;
                            }
                            &:hover {
                                background-color: #7bce44;
                            }
                        }
                    }
                }
                .social-share {
                    flex: 1 0 165px;
                    align-self: flex-start;
                    span {
                        font-size: 14px;
                        line-height: 16px;
                        padding-right: 10px;
                        padding-top: 0px;
                    }
                    a {
                        color: #847c6e;
                        padding: 10px 5px;
                        &:hover i {
                            color: #69b239;
                        }
                        i {
                            padding-top: 0px;
                        }
                    }
                }
            }
            .author-wrapper {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                border-bottom: 1px solid #e0e0e0;
                padding-top: 20px;
                padding-bottom: 35px;
                .avatar {
                    min-width: 75px;
                    height: 75px;
                    background-size: cover;
                    border-radius: 5px;
                    background-position: center center;
                }
                .content {
                    padding: 0px 0px 0px 20px;
                    h5 {
                        font-size: 18px;
                        font-weight: 400;
                        margin: 0;
                    }
                    p {
                        font-size: 16px;
                        font-weight: 400;
                        margin-top: 15px;
                        margin-bottom: 0px;
                    }
                }
            }
        }
    }
    /* KOMENTARZE */
    .comment-wrapper {
        padding: 5px 0px 60px 0px;
        @media (max-width: 767px) {
            padding-bottom: 10px;
        }
        h2 {
            text-transform: none;
            text-align: left;
            font-size: 30px;
            margin-bottom: 25px;
        }
        form {
            input,
            select,
            textarea {
                border-radius: 5px;
            }
            fieldset {
                max-width: 100%;
            }
        }
        .hs-form fieldset.form-columns-1 .hs-input {
            width: 100%;
        }
        .hs-form fieldset.form-columns-1 input[type="checkbox"],
        .hs-form fieldset.form-columns-1 input[type="radio"] {
            width: auto;
            padding-left: 15px;
        }
        @media (max-width: 400px),
        (max-device-width: 480px) and (min-device-width: 320px) {
            form.hs-form .form-columns-2 .hs-form-field .hs-input,
            form.hs-form .form-columns-3 .hs-form-field .hs-input {
                width: 100%;
            }
        }
        #comments-listing {
            margin-bottom: 40px;
            &> div {
                border: none;
                padding: 0;
                .comment-from {
                    h4 {
                        text-transform: none;
                        font-weight: 400;
                        margin-top: 0px;
                        margin-bottom: 0px;
                    }
                }
                .comment-date {
                    float: right;
                    color: #a1a1a1;
                }
                .comment-body {}
                .comment-reply-to {
                    @extend .cta-green;
                    background: #69b239;
                    padding: 10px 25px;
                    border-radius: 5px;
                    font-size: 16px;
                    text-transform: none;
                }
            }
            .depth-1 {
                margin-top: 40px;
                margin-left: 20px;
                padding-left: 20px;
                border-left: 2px solid #69b239;
            }
        }
    }
    /* ------------ */
    .pagination {
        margin-top: 10px;
        margin-bottom: 60px;
        .disabled {
            display: none;
        }
        li {
            display: inline-block;
            margin-right: 5px;
            a {
                color: hubl("$main_font_color");
                border-radius: 2px;
                display: block;
                border: solid 1px #ebebeb;
                height: 27px;
                width: 24px;
                text-align: center;
                font-size: 14px;
                &:hover {
                    background-color: hubl("$cta_background");
                    border: solid 1px hubl("$cta_background");
                    color: #fff;
                }
            }
            &.active {
                a {
                    background-color: hubl("$cta_background");
                    border: solid 1px hubl("$cta_background");
                    color: #fff;
                }
            }
        }
    }
}
