.big-feed-box{
	width: 297px;
	min-height: 297px;
	padding: 10px;
	text-align: center;
	margin: 0px 20px 0px 20px;
	background-color: #fff;
	box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);
	display: flex;
	flex-direction:column;
	justify-content: center;
	@media (max-width: 1200px){
        width: 250px;
        min-height: 250px;
		margin: 0px 10px 0px 10px;
    }
    @media (max-width: 830px){
        width: 220px;
        min-height: 220px;
    }
	@media (max-width: 767px){
        width: 297px;
		min-height: 297px;
		margin: 10px;
    }
.icon{
		width: 92px;
		height: 92px;
		background-position: center center;
		background-repeat: no-repeat;
		margin: 0 auto;
	}
	h3{
		text-transform: none;
		font-weight: 600;
		}
	a{
		color: #69b239;
		&:hover{
			color: #7bce44;
		}
	}
}