.cta-blog-box{
	width: 100%;
	padding: 25px;
	background-size: cover;
	background-position: center-center;
	img{
		text-align: center;
		display: block;
		margin: 0 auto;
	}
	p{
		font-size: 25px;
		line-height: 39px;
		strong{
			color: #69b239;
			font-weight: 600;
		}
	}
}
