.feed-box{
	width: 270px;
	min-height: 200px;
	padding: 10px;
	text-align: center;
	margin: 60px 5px 0px 5px;
	.icon{
		width: 100%;
		height: 60px;
		background-position: center center;
		background-repeat: no-repeat;
	}
	p{
		color: #a1a1a1;
	}
}