.hero-banner-form{
	width: 100%;
	min-height: 680px;
	position: relative;
	margin: 0;
	background-size: cover;
	background-position: center center;
	z-index: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	.mask{
		position: absolute;
		top: 0;
		left:0;
		width: 100%;
		height: 100%;
		z-index: 1;
		background-color: rgba(38,25,0,0.55);
	}
	.content{
		position: relative;
		z-index: 2;
		display: flex;
		justify-content: center;
		align-items: center;
		max-width: 1170px;
		width: 100%;
		padding: 15px;
		@media (max-width: 767px){ 
			flex-direction: column;
		}
		.left{
			flex-basis: 40%;
			@media (max-width: 768px){ 
				flex-basis: 50%;
				width: 100%;
				flex: 1;
    		}
			@media (max-width: 767px){ 
				flex-basis: 100%;
				width: 100%;
				flex: 1;
    		}
			.white-form{
				background-color: #fff;
				border-radius: 10px;
				padding: 35px;
				box-shadow: -1px -1px 5px 0px rgba(0,0,0,0.15);
				@media (max-width: 767px){ 
					margin-top:30px;
					margin-bottom: 40px;
	    		}
	    		@media (max-width: 480px){ 
	    			padding: 35px 15px;
	    		}
				h3{
					margin-top: 0px;
					text-align: center;
					text-transform: none;
					color: #261900;
					font-size: 20px;
				}
				input{
					background-color: #fff;
					border-radius: 5px;
				}
				input[type="submit"]{
					background-color: #69b239;
					width: 100%;
					&:hover{
						background-color: #7bce44;
					}
				}
			}
		}
		.right{
			flex-basis: 60%;
			margin-left: 90px;
			color: #fff;
			@media (max-width: 768px){ 
				flex-basis: 50%;
				width: 100%;
				flex: 1;
				margin-left: 0px;
				padding-left: 30px;
    		}
			@media (max-width: 767px){ 
				margin-left: 0px;
				flex-basis: 100%;
				flex: 1;

    		}
			h1{
				color: #fff;
				font-size: 60px;
				text-transform: none;
				line-height: 54px;
			}
			li{
				color: #fff;
				font-size: 20px;
				span{
					font-size: 18px;
				}
			}
		}
	}
}