.hero-banner{
	width: 100%;
	min-height: 260px;
	position: relative;
	margin: 0;
	background-size: cover;
	background-position: center center;
	z-index: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	.mask{
		position: absolute;
		top: 0;
		left:0;
		width: 100%;
		height: 100%;
		z-index: 1;
		background-color: #000;
	}
	.content{
		position: relative;
		z-index: 2;
		padding: 36px 0px;
		h1{
			color: #fff;
			text-transform: none;
			font-size: 40px;
			margin-bottom: 20px;
			padding: 30px 20px 0px 20px;
		}
		p{
			margin-top: 20px;
			color: #fff;
			text-transform: none;
			font-size: 23px;
			font-weight: 400;
			text-align: center;
			padding: 0px 20px 30px 20px;
			display:block;
			width: 60%;
			margin:0 auto;
		}
		.hs-cta-wrapper{
			margin: 0 20px;
			@media (max-width: 767px){
		        margin: 0px auto;
		        a{
		        	margin-bottom: 20px;
		        }
		    }
		}
	}
}

