.hero-banner-blog {
    width: 100%;
    min-height: 260px;
    position: relative;
    margin: 0;
    background-size: cover;
    background-position: center center;
    z-index: 0;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    .mask {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: rgba(0, 0, 0, 0.45);
    }
    .content {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        h1 {
            color: #fff;
            text-transform: none;
            font-size: 40px;
            margin-bottom: 0px;
        }
        h2 {
            margin-top: 10px;
            color: #fff;
            text-transform: none;
            font-size: 30px;
            font-weight: 400;
            &.substitute {
                color: #fff;
                text-transform: none;
                font-size: 40px;
                font-weight: 600;
                margin: 20px 0;
                margin-bottom: 0px;
            }
        }
    }
}
