.pricing-box{
	width: 288px;
	min-height: 480px;
	background-color: #f4f4f4;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 28px 0px;
	box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.1);
	@media (max-width: 420px){
        width: 258px;
    }
	.price{
		width: 148px;
		height: 148px;
		background-color: #fff;
		border-radius: 50%;
		margin: 0 auto;
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.1);
		h3{
			font-size: 40px;
			font-weight: 800;
			margin: 0px; 
		}
		small{
			font-size: 13px;
			margin: 0px; 
		}
	}
	.content{
		text-align: center;
		h4{
			font-size: 19px;
			text-transform: none;
		}
		ul{
			list-style: none;
			text-align: left;
			li{
				padding: 5px 0px;
				font-size: 14px;
				&:before{
					content: "";
					display: inline-block;
					background-image: url('https://cdn2.hubspot.net/hubfs/2749457/Cognizant%20/img/icons/check_03.png');
					width: 14px;
					height: 11px;	
					margin-right: 20px;	
					}
			}
		}
		.cta {
			width: 100%;
			a{
				width: 100%;
				padding: 14px 0px;
			}
		}
		
	}
	&--center{
		transform:scale(1.15);
		margin: 0px 70px;
		@media (max-width: 1040px){
	        transform:scale(1);
	        margin: 30px;
	    }
	    @media (max-width: 420px){
	        transform:scale(1);
	        margin: 30px 0px;
	    }
	}
}