.single-testimonial-slide{
	width: 100%;
	min-height: 523px;
	position: relative;
	background-size: cover;
	background-position: center center; 
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 0px;
	.mask{
		background-color: rgba(105,178,57,0.93);
		width: 50%;
		&:after{
			content: "";
			display: block;
			background-image: url('https://cdn2.hubspot.net/hubfs/2749457/Cognizant%20/img/Modules/Video%20Slider/green-mas_03.png');
			background-repeat: no-repeat;
			background-size: cover;
			position: absolute;
			top: 0;
			right: -162px;
			width: 162px;
			height: 100%;
		}
		@media (max-width: 767px){
			width: 100%;
			&:after{
				display: none;
			}
		}
	}
	.container{
		position: relative;
		z-index: 4;
		display: flex;
		margin: 0;
		width: 100%;
		@media (max-width: 767px){
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
		.left{
			width: 50%;
			flex-basis: 50%;
			@media (max-width: 767px){
				flex-basis: 100%;
				width: 100%;
				flex:1;
				
			}
			h3{
				font-size: 45px;
				color:#fff;
				text-align: left;
				text-transform:  none;
				margin-bottom: 130px;
				@media (max-width: 767px){
					margin-bottom: 90px;
				}
			}
			.content{
				padding: 0px 40px;
				color: #fff;
				@media (max-width: 767px){
					padding-right: 0px;
					}
				p{
					display: block;
					padding: 0px 0px 30px 0px;
					border-bottom: 1px solid #85bd61;
					position: relative;
					&:before{
						content: '';
						background-image: url('https://cdn2.hubspot.net/hubfs/2749457/Cognizant%20/img/icons/22.png');
						width: 43px;
						height: 31px;
						display: block;
						position: absolute;
						top: -60px;
						left: -40px;

					}
				}
				span{
					display: block;
					font-weight: 600;
				}
				small{
					font-size: 16px;
				}
			}
		}
		.right{
			width: 50%;
			flex-basis: 50%;
			position: relative;
			@media (max-width: 767px){
				flex-basis: 100%;
				width: 100%;
				height: 100px;
				//background-color: blue;
				margin-top: 30px;
				margin-bottom: 50px;
				flex:1;
			}
		}

	}


	// play BTN
	.play-btn{
	    width:92px;
	    height:92px;
	    background-color: #fff;
	    position:absolute;
	    top:50%;
	    left:60%;
	    border-radius: 50%;
	    transform:translate(-50%,-50%);
	    transition:opacity 0.3s ease-in-out;
	    z-index:1;
	    cursor: pointer;
	    @media (max-width: 767px){
	    	left: 50%;
			
	    }
	    &:before{
	    	position:absolute;
		    top:50%;
		    left:50%;
		    transform:translate(-50%,-50%);
	    	display: block;
	    	content: "";
	    	width: 0;
			height: 0;
			border-style: solid;
			border-width: 6.5px 0 6.5px 11px;
			border-color: transparent transparent transparent #000000;
	    }
	    &:hover{
	    	background-color: #69b239;
	    	&:before{
	    		border-color: transparent transparent transparent #fff;
	    	}

	    }
	    &.hide-play-btn{
	      opacity:0;
	      z-index:-1;
	      transition:opacity 0.3s ease-in-out;
	    }
	}


}






